@model ViewFilmModel


@{
    ViewData["Title"] = Model?.Name ?? "Film";
}


@if (Model != null)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">@Model.Name</h1>
                        <p class="card-text fs-5">Directed by: @Model.Director</p>
                        <p class="card-text fs-5">Release Date: @Model.Release.Date.ToString("yyyy-MM-dd")</p>
                        <p class="card-text fs-5">
                            Categories:
                            <span class="fs-6">
                                @Model.GetStringOfCategories()
                            </span>
                        </p>

                        @await Html.PartialAsync("_CategoryUpdateForm", new EditFilmCategoriesModel()
                        {
                            Id = Model.Id,
                            FilmCategories = Model.Categories.Select(c => c.Id).ToList()
                        })

                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning mt-3" role="alert">
        The source that you are trying to access doesn't exist or has been removed.
    </div>
}