@model testTask.Entities.Film


@{
    ViewData["Title"] = Model.Name;
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">@Model.Name</h1>
                    <p class="card-text fs-5">Directed by: @Model.Director</p>
                    <p class="card-text fs-5">Release Date: @Model.Release.Date.ToString("yyyy-MM-dd")</p>
                    <p class="card-text fs-5">
                        Categories:
                        @if (Model.Categories.Any())
                        {
                            <span class="fs-6">
                                |
                                @foreach (var category in Model.Categories)
                                {
                                    <span>@category.Name |</span>
                                }
                            </span>
                        }
                        else
                        {
                            <span class="fs-6">no category</span>
                        }
                    </p>

                    @await Html.PartialAsync("_CategoryUpdateForm", new EditFilmModel()
                    {
                        Id = Model.Id,
                        Name = Model.Name,
                        Director = Model.Director,
                        Release = Model.Release,
                        FilmCategories = Model.Categories.Select(c => c.Id).ToList()
                    })

                </div>
            </div>
        </div>
    </div>
</div>